.clip{
    font-weight: 800;
    font-size:18rem;
    text-align: center;
    background-image: url("scenic-2200x1331.png");
    background-size: 100%;
    text-transform: uppercase;
    -webkit-background-clip: text;
    color:hsla(0, 0%, 0%, .196);
}