/* * */*{
    margin:0;
    padding: 0;
   box-sizing: border-box;
}

body{
    font-family: monospace;
    min-height: 100vh;
    padding: 20px;
    font-size: 32px;

}
.container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid black;
    margin: 5rem;
    background-color: aqua;
    display: flex;
    /*  main axis */
    justify-content: center;
    gap: 1rem;
    align-items: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    /* cross axis */
    align-content: space-evenly;


}
.box{
  min-width: 100px;
  min-height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: .5rem;  
  display: flex;
  justify-content: center;
  align-items: center;
}