/* * */*{
    margin:0;
    padding: 0;
   box-sizing: border-box;
}

body{
    font-family: monospace;
    min-height: 100vh;
    padding: 20px;
    font-size: 32px;

}
.container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid black;
    margin: 5rem;
    background-color: aqua;
    display: flex;
    /*  main axis */
    justify-content:space-between;
    gap: 1rem;
    align-items:baseline;
    flex-direction: row;
    /* flex-wrap: wrap; */
    flex-flow: row wrap;
    /* cross axis */
    align-content: space-evenly;


}
.box{
  width: 100px;
  height: 100px;
  background-color: #000;
  color: #fff;
  font-size: 2rem;
  padding: .5rem; 

  display: flex;
  justify-content: center;
  align-items: center;
  
  /* flex-shrink: 1;
  flex-basis: 250px; */
  /* grow sink basis */
  flex: 1 1 150px;
}

.box:nth-child(2){
flex: 2 2 150px;
order: -1;
}