/* h1{
    border: 2px dashed red;
    width: 50%;
    font-size: 3rem ;
    padding: 0.5rem;
} */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
/*    
    border:dashed red;
    border-top: 5px  solid yellow;
    border-right: 10px dotted blue; */
/* outset double */
    border:dashed grey;
    border-top-color: blue;
    border-right: 10px dotted blue;
   font-size: 1.5rem;
   /* margin: 1.5em; */
    margin:1.5em 2em 2em 0em;
   /* margin-top: 1.5em;
   margin-right: 2em;
   margin-bottom: 2em;
   margin-left: 2em; */
    padding: 1.5em 2em 2em 0em;
    outline: 5px solid purple;
    outline-offset: 5px;
}